flask==2.3.3
Flask-Session==0.4.0
gunicorn==21.2.0
python-dotenv==1.0.1
requests==2.31.0
numpy==1.23.5  # Versão testada e estável com pandas 1.5.3
pandas==1.5.3  # Versão compatível com numpy 1.23.5
openpyxl==3.1.2
